.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 3em;
  box-shadow: 0 4px 8px 0 #4f4949;
  margin: 1em;
  user-select: none;
  color: #eea29a;
  background: #deeaee;
 }

.activeCard {
  color: #ffffff;
  background: #c94c4c;
 }

 body{
  background :url(https://i.imgur.com/NwcOR6b.png) ;
  height: 800px;
  background-size: cover;
  background-position: center;
}

.wrapper {
  text-align: center;
  position: center;
  color: #ffffff;

  }

.text {
  text-align: center;
  position: center;
  color: #ffffff;
  font-size: 1.5em;
    }

.buttons {
  width: 8em;
  height: 3em;
  margin: 0 auto;
  display: block;
  background: #034f84;
  color: #ffffff;
}

